/**************TAG SELECTORS**********/
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #655c56;
  padding-bottom: 2.3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #655c56;
  margin: 0;
}

/*********CLASS SELECTORS************/
.container-fluid {
  padding: 1% 15%;
}

/**nagivation bar**/
.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: 'Baloo 2', cursive;
  font-size: 2rem;
  color: #fffff2;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
}

/**title text and images**/
.ANLHlogo {
  font-family: 'Baloo 2', cursive;
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 70%;
  transform: translateX(6rem);
}

/*****features****/

.feature-icon {
  font-size: 3.5rem;
  line-height: 3;
  color: #94d3ac;
  padding-bottom: 1rem;
}

.feature-icon:hover {
  color: #7fcd91;
}

.features-container {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/*****testimonials****/

#testimonials {
  text-align: center;
  background-color: #7fcd91;
  color: #fffff2;
}

.testimonial-img {
  padding-top: 1rem;
  width: 20%;
}

.carousel-item {
  padding: 7% 20%;
}

/*****press*****/

#press {
  background-color: #7fcd91;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

/*****pricing*******/

#pricing {
  padding: 100px;
}

.plan-title {
  font-size: 1.5rem;
}

.pricing-column {
  padding: 3% 2%;
}
/***********************ID SELECTORS**************/
#title {
  background-color: #7fcd91;
}
