/**************TAG SELECTORS**********/
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #655c56;
  padding-bottom: 2.3rem;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #655c56;
}

/*********CLASS SELECTORS************/
.container-fluid {
  padding: 1% 15%;
}

/**nagivation bar**/
.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: 'Baloo 2', cursive;
  font-size: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
}

/**title text and images**/
.ANLHlogo {
  font-family: 'Baloo 2', cursive;
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 70%;
  transform: translateX(6rem);
}

.feature-icon {
  font-size: 3.5rem;
  line-height: 3;
  color: #7fcd91;
}

/*****features****/
.features-container {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/***********************ID SELECTORS**************/
#title {
  background-color: #7fcd91;
}
